.card {
    position: relative;
}

.card img {
    width: 45vw;
    height: 22vh;   
}

.card h2 {
   z-index: 2;
   left: 1vw;
   top:18vh;
   position: absolute; 
   width: 44vw;
   font-size: 15px;
   color:aliceblue;
}

.card p {
    position: absolute;
    left: 31vw;
    top: -2vh;
    color: aliceblue;
}