$black: #000000;
$blue: #0ba3c9;
$white: #ffffff;

//-- Button NavBar Effect With Effect --//
.btn-filter {
	appearance: none;
  background-color: transparent;
  border: 2px solid $black;
  border-radius: 3em;
  cursor: pointer;
  display: inline-flex;
  align-self: center;
  margin: 22vw;
  margin-top: 8px;
	padding: 0.1em 0.1em;
	font-weight: 900;
  font-size: 0.8rem;
  
  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

//-- Button Border Color --//
.btn-filter {
	color: #fff;
	box-shadow: 0 0 40px 40px $black inset, 0 0 0 0 $black;
	transition: all 150ms ease-in-out;
	border-color: $black;
    
	&:hover {
	box-shadow: 0 0 4px 0 $blue inset, 0 0 4px 3px $blue;
  }
}

//-- Size Icon --//
.icon {
  width: 7vw;
  height: 3vh;
}

//-- Position Button Filter --//
.btn-filter {
  position: absolute;
  top: 0;
  left: 64vw;
}

/*-- Container NavBar --*/
.App-header {
  background-color:#052522;
  min-height: 7.5vh;
  display: flex;
  justify-content: flex-end; 
  color: white;
}

.applyfilter{
  cursor: pointer;
  width: 100%;
  height: 14vh;
  z-index: 2;
  background-color: #00c6ff;
  border: none;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 33px;
}


.catfilter{
  margin-top: 2em;
  padding: -1%;
  top: -11vw;
  left: 7vw;
  position: relative;
  font-size: 25px;
    z-index: 100;
    text-shadow: .04em .04em 0 #9cb8b3;
}

.catfilter:after{
    content: attr(data-shadow-text);
    color: white;
    text-shadow: none;
    position: absolute;
    left: .0875em;
    top: .0875em;
    z-index: -1;
  }

.prifilter{
  padding: 0;
  left: -132px;
  position: relative;
  margin-top: -1em;
  margin-bottom: -1em;
}

.grfilter{
  padding: 0;
  left: -120px;
  position: relative;
  margin-top: -2em;
  margin-bottom: -1em;
}

.whfilter{
  padding: 0;
  left: -132px;
  position: relative;
  margin-top: -1em;
  margin-bottom: -1em;
}

.lifilter li{
  cursor: pointer;
  list-style: none;
  margin: 2px;
  padding: 5px;
  display: inline-block;
  -webkit-justify-content: left;
  justify-content: left;
  border: solid #000;
  background: grey;
  background-image: linear-gradient(to left, transparent, transparent 50%, #00c6ff 50%, #00c6ff);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}

.ligrfilter li{
  cursor: pointer;
  list-style: none;
  margin: 8px;
  padding: 5px;
  display: inline-block;
  justify-content: left;
  border-radius: 5%;
  border :  solid #000;
  background: grey;
  background-image: linear-gradient(to left,
  transparent,
  transparent 50%,
  #00c6ff 50%,
  #00c6ff);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}

.liwhfilter li{
  cursor: pointer;
  list-style: none;
  margin: 5px;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  border :  none;
  background: grey;
  background-size: 5px;
  background-image: linear-gradient(to left,
  transparent,
  transparent 50%,
  #00c6ff 50%,
  #00c6ff);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}

.ligrfilter, .lifilter, .liwhfilter, li:hover{
  background-position: 0 0;
}