/** Modal Down Appear **/
.modal-wrapper {
    background:#182D36;
    margin: 10px auto 0;
    transition: all .6s;
    width: 100vw;
    position: absolute;
    height: 85vh;
    z-index: 3;
    margin: 0;
    top: 5.8vh; left: 0;
}

.modal, p {
    color: white;
    line-height: 50px;
}