.Footer-container{
   background-color:#213D49;
   height: 3vh;
 }
 .Footer-container-2{
   background-color:#182D36;
   height: 18vh;
  
 
 }
 .Copyright-bloc {
   color:rgb(77, 101, 112);
   margin-left: auto;
   margin-right: auto;
 }
 /* icon social networks*/
 .Social-networks img{
   padding-top: 4vh;
   padding-left: 34vh;
 ;
 }
 .Social-networks{
  display: flex;
  justify-content: space-around;
  
}
.Social-networks img{
  
  padding-left: 0vh;
  
}

 
 /*Footer Responsive petites écrans*/
 @media (max-width : 501px){
  

  .Footer-container{
    background-color:#213D49;
    height: 1vh;
  }
  .Footer-container-2{
    background-color:#182D36;
   height: 16vh;
  

  }
  .Copyright-bloc p{
    color:rgb(219, 219, 219);
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  
  

  }
  /*icon social networks*/
  .Social-networks{
    display: flex;
    justify-content: space-around;
    

  }
  .Social-networks img{
    padding-left: 0vh;
   
  }
   
 }
