.Footer-container{
   background-color:#213D49;
   height: 35vh;
}
.Footer-container-2{
   background-color:#182D36;
   height: 10vh;
 
}
.Copyright-bloc {
   color: rgb(2, 37, 35);
}
/*icon social networks*/
.Social-networks img{
   padding:15px;
}

/*Footer Responsive*/
@media (max-width : 768px){
   .Footer-container-2{
    margin-top:-18px;
    display:flex;
    flex-direction: column-reverse;
    height:15vh;
   
   }
   .Social-networks {
      margin-bottom:-10px;
   }
}

