.Footer-container{
   background-color:#213D49;
   height: 3vh;
 }
 .Footer-container-2{
   background-color:#182D36;
   height: 18vh;
 
 }
 .Copyright-bloc {
   color:rgb(77, 101, 112);
   margin-left: 41%;
 }
 /*icon social networks*/
 .Social-networks img{
   padding-top: 4vh;
   padding-left: 34vh;
 ;
 }
 

 
 /*Footer Responsive petites écrans*/
 @media (max-width : 501px){

  .Footer-container{
    background-color:#213D49;
    height: 1vh;
  }
  .Footer-container-2{
    background-color:#182D36;
    height: 16vh;
  }
  .Copyright-bloc {
    color:rgb(77, 101, 112);
    margin-left: 27%;
  }
  /*icon social networks*/
  .Social-networks img{
    padding-left: 6vh;
  }
   
 }
