/* *
{
    outline: none;
}



.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

/* input, button
{
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
} */

/* #cover
{
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    width: 300px;
    padding: 2px;
    margin: -50px auto 0 auto;
    background-color: #ff7575;
    border-radius: 20px;
    box-shadow: 0 5px 15px #ff7c7c, 0 0 0 2px #ffffffeb;
    z-index: 1;
} */
/* 
form
{
    height: 60px;
} */

/* input[type="text"]
{
    width: 90%;
    height: 60px;
    font-size: 30px;
    line-height: 1;
} */
/* 
input[type="text"]::placeholder
{
    color: #e16868;
} */

#s-cover
{
    width: 1px;
    padding-left: 3px;
} 

button
{
    border: none;
    background: transparent;
    position: relative;
    display: block;
    left: 34vh;
    top: -13vw;
    /* width: 70px;
    height: 30px; */
     /* cursor: pointer;  */
}
/* 
#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 25px;
    height: 25px;
    margin-top: 0;
    border-width: 15px;
    border: 10px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span
{
    position: absolute;
    left: 45px;
    display: block;
    width: 18px;
    height: 10px;
    background-color: transparent;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: 2px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 30%;
    left: 56px;
    width: 25px;
    margin-top: px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #fff; 
} */