*
{
    outline: none;
}

.global
{
    display: table;
    width: 100%;
}

.searchBar
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#s-cover{
    width:5vw;
    margin-left:3vw;
    margin-top: 1.5vh;
    position: absolute;
}

#cover
{
    top: 2%;
    left: 0;
    right: 0;
    width: 35vw;
    padding: 2px;
    margin: -50px auto 0 auto;
    background-color:black;
    border-radius: 20px;
    box-shadow: 0 5px 15px #13adad, 0 0 0 2px #073529eb;
}

form
{
    height: 50px;
}

input[type="text"]
{
    width: 90%;
    height: 50px;
    font-size: 25px;
    line-height: 1;
    text-align: center;
}

input[type="text"]::placeholder
{
    color:white;
    text-align: center;
    
}

.buttonSearsh
{
    position: relative;
    display: block;
    width: 70px;
    height: 35px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 4vw;
    height: 2vh;
    margin-top: 0;
    border-width: 15px;
    border:6px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.2s ease all;
}

button span
{
    position: absolute;
    left: 42px;
    display: block;
    width: 12px;
    height: 5px;
    background-color: transparent;
    transform: rotateZ(44deg);
    transition: 0.2s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: -0.5vh;
    right: 4.8vw;
    width: 20px;
    height: 7px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.2s ease all;
}

#s-cover:hover #s-circle
{
    top: -3px;
    width: 7vw;
    height: 7px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 30%;
    left: 5vw;
    width: 21px;
    margin-top: 4px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 12px;
    transform: rotateZ(50deg);
}

#s-cover:hover button span:after
{
    bottom: -5px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -3px;
    width: 25px;
    background-color: #fff;
}
/*********************************************************************/
/*********************resopnsive Ecran Descktop ************************/
@media (min-width : 502px){
    *
{
    outline: none;
}
.global
{
    display: table;
    width: 93%;
}
.searchBar
{
    display: table-cell;
    vertical-align: middle;
}

input, button
{
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

 #cover
{
    top: 2%;
    left: 0;
    right: 0;
    width: 300px;
    padding: 2px;
    margin: -50px auto 0 auto;
    background-color:black;
    border-radius: 20px;
    box-shadow: 0 5px 15px #13adad, 0 0 0 2px #073529eb;
}

form
{
    height: 50px;
}

 input[type="text"]
{
    width: 105%;
    height: 50px;
    font-size: 35px;
    line-height: 1;
} 

 input[type="text"]::placeholder
{
    color: #04bdad;
}

.buttonSearsh
{
    border: none;
    background: transparent;
    position: relative;
    display: block;
    width: 70px;
    height: 35px;
    cursor: pointer;
} 

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 25px;
    height: 25px;
    margin-top: 0;
    border-width: 15px;
    border:6px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.2s ease all;
}

button span
{
    position: absolute;
    left: 45px;
    display: block;
    width: 8.5px;
    height: 7px;
    background-color: transparent;
    transform: rotateZ(44deg);
    transition: 0.2s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 7px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.2s ease all;
}

#s-cover:hover #s-circle
{
    top: -3px;
    width: 60px;
    height: 7px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 30%;
    left: 45px;
    width: 21px;
    margin-top: 4px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 12px;
    transform: rotateZ(50deg);
}

#s-cover:hover button span:after
{
    bottom: -5px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -3px;
    width: 25px;
    background-color: #fff;
}

}