

.modal-wrapper {
    background: #d0cccc;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 100px auto 0;
    transition: all .8s;
    width: 30%;
    border-radius: 05px;
}

.modal-header {
    background: #213D49;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    border-radius: 05px;
    
}

h3 {
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

.modal-body {
    padding: 10px 15px;
    margin:40px 20px 10px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-footer {
    background: #d0cccc;
    height: 35px;
    padding: 15px;
    border-radius: 05px;
}

.close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
    border-radius: 05px;
}

.close-modal-btn:hover {
    color: black;
}

.btn-cancel, .btn-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
    border-radius: 05px;
}

.btn-cancel {
    background-color: #b71c1c;
    float: left;
    border-radius: 4px;
    border-radius: 05px;
}
.btn-cancel:hover {
    background-color:#811313;
    
}

.btn-continue {
    background-color: #1b5e20;
    float: right;
    border-radius: 4px;
}
.btn-continue:hover {
    background-color:#113b13;
    
}
.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
    
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}

.firstName{
    width: 140px;
    
}



.lastName{
    width: 140px;
}

