.slick-track {
    display: flex;
    ;
}

.slick-dots {
    display: none !important;
}

.slick-arrow {
    display: none !important;
}

.slick-list {
    width:100%;
    /* permet de faire apparaitre en scrollant tous les elements qui depassent de l'ecran*/
    overflow: scroll;
}
