.weatherDiv{
    margin-right: 25%;
    margin-top: 20%;
    
}

.weatherImage{
    width: 25%;
    margin: 0 38%;
}
.city{
    text-align: center;
    color: lightskyblue
}

.description{
    text-align: center;
    color: lightskyblue
}