.weatherDiv{
    margin-top: 5%;
    margin-bottom: 5%
}

.weatherImage{
    width: 25%;
    margin: 0 38%;
}
.city{
    background: black;
    text-align: center;
    color: white
}

.day{
    text-align: center;
    color: white
}

.description{
    text-align: center;
    color: white
}