.weatherDiv{
    margin-top: 5%;
    margin-bottom: 5%
}

.weatherImage{
    width: 25%;
    margin: 0 38%;
}
.city{
    text-align: center;
    color: lightskyblue
}

.description{
    text-align: center;
    color: lightskyblue
}