.App-header{
    position: relative;
    
}   
.l{

    position: absolute;
    left: 0vw;
    top: -10vh;
<<<<<<< HEAD
  
} 

.App
{
    text-align: center;
    
}
.WeatherAPI{
    padding-top: 80px;
    padding-left: 2%;
  
}
=======
}
.cardactivity
{
    display: flex;
    justify-content: space-around;
}

>>>>>>> f16f51f159e041b1913b63a697e0c90e3050664c
