@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
.App-header{
    position: relative;
    
}   

.logo1{
    position: absolute;
    left: 0vw;
    top: -1vh;

}
.logoTitre{ 
    font-family: 'Gloria Hallelujah', cursive;
   color:rgb(161, 208, 230);
    position: absolute;
    width: 28vw;
    left: 15vw;
    top: 2.7vh;
}
.cardactivity
{
    display: flex;
    justify-content: space-around;
}


.App
{
    text-align: center;
    background-color: black;
    
}
.WeatherAPI{
    padding-top: 80px;
    padding-left: 2%;
  
}

.cardactivity
{
    display: flex;
    justify-content: space-around;
}
.footer{
    padding-top:20px; 
}